body {
    font-family: 'Manrope',sans-serif;
    font-weight: 400;
    margin: 0;
    margin-left: 12%;
    padding: 0;
    color: #FFFFFF;
    height: 100%;

    background-color: #0091ff;
    background: linear-gradient(180deg, #6439FF 0%, #cc00ff 80%);
}

/* Header (Logo) */
header {
    margin-left: -100px;
    padding-top: 30px;
    min-height: 70px;

}

header .logo img {
    height: 50px;
}

header .logo img:hover {
    scale: 1.05;
}

header img {
    height: 50px;
}

/* Headings h1-h3 */
h1 {
    color: #FFFFFF;
    font-family: 'Degular', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    margin-top: 50px;
}

h2 {
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    margin-left: 10px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
}


/* Navigation Links */
.nav {
    margin-bottom: 20px;
    margin-top: -30px;
}

.nav a {
    color: #ffffff99;
    margin-right: 5px;
    text-decoration: none;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:8px;
    padding-bottom: 8px;
    border-radius: 5px;
}

.nav a:hover {
    background-color:#ffffff25;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.12), 0 17px 50px 0 rgba(0,0,0,0.01);
}


/* Profile Picture */
.profile-pic {
    margin-left: 10px;
    margin-bottom: 50px;
    display: inline-block;
}

.profile-pic img {
    height: 200px;
    width: 200px;
    border-radius: 5%;
    margin-top:20px;
}




/* Biography */
.bio {
    margin-left: 270px;
    margin-top: -240px;
    margin-bottom: 100px;
}

.bio p, span {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: italic;
    max-width: 70%;
    display: inline-block;
    color: #ffffff99;
    text-align: justify;
    
}

.bio h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 17px;
}

.pp-overlay {
    margin-left: 10px;
    margin-top: 20px;
    background: rgb(45,45,55);
    background: linear-gradient(180deg, rgba(45,45,55,0) 0%, rgba(37,37,52,0) 60%, #6439FF70 90%, #6439FF99 100%);
    width: 200px;
    height: 200px;
    border-radius: 5%;
    position: absolute;
}

/* Trennlinie */
hr {
    border: 0;
    height: 1px;
    width: 82%;
    background: #ffffff20;
    margin-bottom: 50px;
    margin-left: 0%;
}

.lower-info {
    margin-bottom: 100%;
}

.lower-info h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 17px;
}

.lower-info p {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #ffffff99;
}

/* Responsive */

@media (max-width: 800px) {
    
    .bio {
        display: block;
        margin-top: -20px;
        margin-left: 10px;
        margin-bottom: 50px;
    }

    hr {
        width: 82%;
        margin-left: 0%;
        margin-bottom: 30px;

        background: #ffffff40;
    }
}