/* Basic CSS for User Settings */
body {
    font-family: 'Manrope',sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    height: 100%;

    background-color: #0091ff;
    background: linear-gradient(180deg, #6439FF 0%, #cc00ff 60%);
}

/* Header (Logo) */
header {
    padding-top: 30px;
    min-height: 70px;

}

header .logo img {
    margin-left: 50px;
    height: 50px;
}

header .logo img:hover {
    scale: 1.05;
}




h1 {
    color: #FFFFFF;
    font-family: 'Degular', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    margin-left: 175px;
    margin-top: 50px;
}

h2 {
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    margin-left: 185px;
    margin-bottom: 40px;
}




p, span, li {
    color: #808080;
    margin-left: 175px;
}




form {
    margin-left: 175px;
}

/* Beschriftung */
label {
    font-size: 15px;
    margin-left: 15px;
    font-weight:300;
}

form input, textarea, select {
    border-radius: 5px;
}

form input:hover, textarea:hover, select:hover {
    background-color:#ffffff25;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.12), 0 17px 50px 0 rgba(0,0,0,0.01);
}

button:hover {
    background-color:#ffffff25;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.12), 0 17px 50px 0 rgba(0,0,0,0.01);
}

/* Eingabefeld Einzeilig */
form input { 
    width: 300px;
    height: 12px;
    margin-bottom: 10px;
    margin-left: 35px;
    padding: 10px;
    background-color:#ffffff20;
    border-color: #ffffff00;

    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:#ffffff;
}

/* Eingabefeld Mehrzeilig */
form textarea {
    width: 740px;
    height: 200px;
    margin-bottom: 10px;
    margin-left: 15px;
    background-color:#ffffff20;
    padding-left: 20px;
    border-color: #ffffff00;

    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:#ffffff;
    
}

/* Eingabefeld Select */
form select {
    width: 325px;
    height: 0x;
    padding: 6px;
    margin-left: 15px;
    background-color:#ffffff20;
    border-color: #ffffff00;


    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:#ffffff;
}

option {
    border: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:#000000;
}

/* Radio Button */
form input[type="radio"] {
    margin-left: -130px;
    margin-right: -130px;

    background-color:#ffffff20;
    border-color:#ffffff00;
}

/* Button */
.buttons button[type="submit"] {
    background-color:#ffffff00;
    border: 1px solid #ffffff20;
    padding: 5px 20px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
    offset-position: 10px;

    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.buttons {
    margin-left: 170px;
    margin-bottom: 100%; 
}






/* Trennlinie */
hr {
    border: 0;
    height: 1px;
    width: 82%;
    margin-top:-10px;
    background: #ffffff20;
    margin-bottom: 50px;
}

.bottom-end hr {
    border: 0;
    height: 1px;
    width: 82%;
    background: #ffffff20;
    margin-bottom: 35px;
}





/* Responsive */
@media (max-width: 1080px) {
    
    form textarea {
        width: 82%;
    }
}

@media (max-width: 680px) {
    
    
    h1, h2, p, form, button {
        margin-left: 10%;
    }

    form textarea {
        width: 82%;
    }

    .buttons {
        margin-left: 10%;
    }
    
}

@media (max-width: 550px) {
    
    form input[type="text"], form select{
        display: block;
        margin-left:3%;
    }

    .buttons {
        margin-left: 10%;
    }
    }
    







