
































/* Responsive */
@media (max-width: 1080px) {
    
    form textarea {
        width: 82%;
    }
}

@media (max-width: 680px) {
    
    
    h1, h2, p, form, button {
        margin-left: 10%;
    }

    form textarea {
        width: 82%;
    }

    .buttons {
        margin-left: 10%;
    }
    
}

@media (max-width: 550px) {
    
    form input[type="text"], form select{
        display: block;
        margin-left:3%;
    }

    .buttons {
        margin-left: 10%;
    }
}
    







